table{
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
button{
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#all:hover{
    background-color: black;
}
#complete:hover{
    background-color: green;
}
#active:hover{
    background-color: red;
}